.inline-block {
    display: inline-block; 
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 50px;
    text-align: center;
    background-color: #EEE5DB;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    max-width: 300px;
    white-space: nowrap;
}
header {
    box-shadow: 4px 4px 5px grey;
    width: 250px;
}
.sidenav {
    height: auto;
    width:230px; /* Set the width of the sidebar */
    max-width: 205px;
    position: top; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #EEE5DB; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;

}

.logo {
    width: 250px;
    padding: 1%;
    text-align: center;
    size: 50px;} 

ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 550px;
    padding: 25px;
    text-align: center;
    z-index: -1;
}
#hero {
    border: 50px #EEE5DB solid;
    border-radius: 50%;
    max-width: 112px ;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.footer {
    display:inline-block flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #EEE5DB;
    color: white;
    width: 209px;
    font-family:'Nunito', sans-serif;
    
}
button {
    background-color: #b4aa9f;
    height: 45px;
    width: 155px;
    font-size: 15px;
    border-color: #b4aa9f;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow:4px 4px 5px grey;
}
h1 {
    color: #545454;
    font-family: 'Noto Serif SC', serif;
    font-size: 30px;
}
p {
    color: #545454;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    text-align: center;
}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    color: #545454;
}

#icon {
    text-align: right;
    max-width: 208px;
    
    display: flex;
    align-items: flex-end;
}

